<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections></configSections>

  <connectionStrings></connectionStrings>

  <!--
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="c:\GoogleMapsClusteringLog.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date &#9;%-5level&#9;%logger&#9;%message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  -->

  <system.web>

    <customErrors mode="Off"/>

    <trace enabled="false" requestLimit="100" pageOutput="false" traceMode="SortByTime" localOnly="true" mostRecent="true" />

    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
    <identity impersonate="false" />

    <pages>
      <controls>
        <add tagPrefix="gmc" src="~/AreaGMC/Controls/MapClustering.ascx" tagName="MapClustering"/>
        <add tagPrefix="gmc" src="~/AreaGMC/Controls/MapDKClustering.ascx" tagName="MapDKClustering"/>
        <add tagPrefix="gmc" src="~/AreaGMC/Controls/MapDK.ascx" tagName="MapDK"/>
        <add tagPrefix="gmc" src="~/AreaGMC/Controls/MapWorld.ascx" tagName="MapWorld"/>
        <add tagPrefix="gmc" assembly="Kunukn.GooglemapsClustering.WebGoogleMapClustering" namespace="Kunukn.GooglemapsClustering.WebGoogleMapClustering"/>
      </controls>
    </pages>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
