.ui-autocomplete {
	background-color: #ffffff;
	width: 410px;
	border: 1px solid #cfcfcf;
	list-style-type: none;
	padding-left: 0px;
}

#search
{
    position: relative;
    width: 400px;    
}

#map_container
{
    width: 1124px;
    margin: 10px;
    position: relative;
    border: 0px #f00 solid;
}
    
#map_canvas
{
    width: 800px; /* 640  1024 */
    height:   600px; /* 480 768 */
    overflow: hidden;
    border: 1px #000 solid;
}

input.mono
{
    font-family:monospace;
}
span.mono
{
    font-family:monospace;
}

#lonlat
{
    border: 1px #fff solid;
    border: none;
    background: transparent;
}

#longitude
{
    
}

#latitude
{
   
}

#btnLatLonSearch
{
   
}


#zoomInfo
{
   
}

#checkboxContainer
{
    position: fixed;
    width:140px;    
    height:200px;
    border: 1px #000 solid;
    background: #eee;
    left:30px;
    bottom:100px;
    opacity: 0.9;
    z-index: 3;
}