ul
{
    padding: 2px;
    line-height: 22px;
    text-align: left;
    margin: 0;
}
a
{
    padding: 0px;
    text-decoration: none;
}
li
{
    /* display: inline;*/
}


.ui-autocomplete {
	background-color: #ffffff;
	width: 410px;
	border: 1px solid #cfcfcf;
	list-style-type: none;
	padding-left: 0px;
}

#gmcKN_search
{
    position: relative;
    width: 400px;    
}

#gmcKN_map_container
{
    width: 1124px;
    margin: 10px;
    position: relative;
    border: 0px #f00 solid;
}
    
#gmcKN_map_canvas
{
    width: 800px; /* 640  1024 */
    height:   600px; /* 480 768 */
    overflow: hidden;
    border: 1px #000 solid;
}

input.mono
{
    font-family:monospace;
}
span.mono
{
    font-family:monospace;
}

#gmcKN_lonlat
{
    border: 1px #fff solid;
    border: none;
    background: transparent;
}

#gmcKN_longitude
{
    
}

#gmcKN_latitude
{
   
}

#gmcKN_btnLatLonSearch
{
   
}


#gmcKN_zoomInfo
{
   
}

#gmcKN_checkboxContainer
{
    position: absolute;
    width:140px;    
    height:200px;
    border: 1px #000 solid;
    background: #eee;
    left:646px;
    top:92px;
    opacity: 0.76;
    z-index: 3;
}